h1 {color:blueviolet}
body {
    background-image: url(https://media.tenor.com/images/7a776e74ccda0d1359787c0d63744865/tenor.gif);
}

.jouwnaam{}
#mijnid{background-color: rgb(255, 0, 157);}

p {background: lightcoral;}